/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


@mixin breakpoint($point) {
  @if $point == standard-plus {
    @media (min-width: 1670px) { @content; }//1670
  }
  @if $point == standard {
    @media (min-width: 1600px) { @content; }//1670
  }
  @else if $point == ipad-horiz {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == ipad-vert {
    @media (min-width: 768px)  { @content; }
  }
  @else if $point == smartphone {
    @media (min-width: 640px)  { @content; }
  }
  @else if $point == iphone-horiz {
    @media (min-width: 480px) { @content; }
  }
  @else if $point == iphone-vert {
    @media (min-width: 320px)  { @content; }
  }
}

/*	LOWERMEDIA STYLES 	*/

.lm-opt-page-wrap, #masthead, #colophon {
	padding: 0% 10%;
}

/*.lm-opt-page-wrap, #main, #colophon {
	box-shadow:0px 0px 50px 0px;
}*/

.lm-opt-page-wrap p:last-child {
	margin:0;
}

.navigation-main {
	position: relative;
	top:20px;
	z-index: 100;
	
	/*border-top: groove black 1px;
	border-bottom: groove black 1px;*/

	li {
		float: left;
		position: relative;
		/*border-bottom: 1px solid black;
		border-top: 1px solid black;*/
		padding: 1% 2%;
		border-radius: 25px;
		margin: 0 1%;
		background: #a90329; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */


		a {
			color: whitesmoke;
			text-shadow: 1px 1px black;
		}
	}

	nav.lowermedia_add_sticky {
		margin-left:10%;
	}
}

.lm-opt-content {
	background: white;
	width: 50%;
	padding: 2%;
	margin: 5%;
	max-height: 800px;
	overflow: auto;
}
.lm-opt-content.middle.odd {
	float:right;
}

.lm-opt-content.first, 
.lm-opt-content.last {
	margin:auto;
	margin-top:5%;
}

article h2 { 
	font-family: 'Lobster Two'; 
	font-size: 60px; 
	margin: 25px 0; 
	line-height: 1em; 
	text-shadow:0 1px 0 #CCCCCC, 0 2px 0 #C9C9C9, 0 3px 0 #BBBBBB, 0 4px 0 #B9B9B9, 0 5px 0 #AAAAAA, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.parallax-section { 
	height: 1000px; 
	padding: 0;
	max-width: 1250px;/*1000px;/*1920px; */
	overflow:hidden;
	position: relative; 
	margin: 0 auto; 
	border-top: 1px solid rgba(255,255,255,0.3); 
	border-bottom: 1px solid rgba(0,0,0,0.4); 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	width: 100%;
	
	@include breakpoint(iphone-vert) { max-width: 480px; }
	@include breakpoint(iphone-horiz) { max-width: 640px; }
	@include breakpoint(smartphone) { max-width: 768px; }
	@include breakpoint(ipad-vert) { max-width: 1024px; }
	@include breakpoint(ipad-horiz) { max-width: 1600px; }
	@include breakpoint(standard) { max-width: 1600px; }
	@include breakpoint(standard-plus) { max-width: 2000px; }/*width: 100%;*/
	
}

.parallax-nav { 
	padding: 2% 10%; 
	width: 100%; 
	max-width: 1000px;/*1920px; */
	position: relative; 
}

/*#lm-opt-1 { background: url(images/puckered.png) 50% 0 no-repeat fixed; }*/
.lm-opt-1, .lm-opt-5 { background: url(../images/slide1.png) 50% 0 no-repeat fixed; }
.lm-opt-2, .lm-opt-6 { background: url(../images/slide2.jpg) 50% 0 no-repeat fixed; }
.lm-opt-3, .lm-opt-7 { background: url(../images/slide4.jpg) 50% 0 no-repeat fixed; }
.lm-opt-4, .lm-opt-8 { background: url(../images/slide3.jpg) 50% 0 no-repeat fixed; }
.theend { background: url(../images/puckered.png) 50% bottom no-repeat fixed; }


.photograph { 
	min-height: 1000px; 
	padding: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	background-color: transparent;
	background-size: 50% 100px;
	background-repeat: no-repeat;
}

.lmopt-img.odd {
	-webkit-transform: translate(10px) rotate(10deg);
    -webkit-transform-origin: -20% 70%;

    -o-transform:translate(10px) rotate(10deg); 
    -o-transform-origin:-20% 70%;

    transform: translate(10px) rotate(10deg);
    transform-origin: -20% 70%;
    background-color: transparent;
	background-size: 30% auto;
	background-repeat: no-repeat;
}

.lowermedia-trans-back {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.center-outer{
	position:relative;
	left:50%;
	float:left;
	clear:left;
	margin-bottom:10px;
}
.center-inner{
	position:relative;
	left:-50%;
	text-align:left;
}

/* Introduction 
#lm-opt-1 { background: url(images/slide4.jpg) 50% 0 no-repeat fixed; } .i9mhlogo { background: url(images/item-9-mad-hatter_face-logo_transparent-back.png) 50% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
*/
article { background: url(images/grain.png) repeat #333;}

.lm-opt-1 article { 
	width: 100%; 
	top: 300px; 
	position: absolute; 
	text-align: center; 
	p, a { color: #ccc; }
	a { text-decoration: underline; }
	a:hover { color: #fff; }
}


/* Background Only */
/*#lm-opt-2 { padding: 50px 0;}*/
.lm-opt-2 article { 
		color: #fff; 
		width: 600px; 
		margin: 100px; 
		padding: 10px 20px; 
		text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
		line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); 
		border: 1px solid rgba(150,150,150,0.1); 
		p { margin-bottom: 25px; }
		a { color: #ff0;}
	}

/* Photograph */
.lm-opt-3 article {  
	color: #fff; 
	padding: 10px 20px; 
	margin: 100px 0 0 60%; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
	line-height: 1.5em; 
	position: absolute; 
	top: 0; 
	box-shadow: 0 0 25px rgba(0,0,0,0.3); 
	border: 1px solid rgba(150,150,150,0.1); 
	p { width: 300px; margin-bottom: 25px; }
}


/* HTML5 Video */
.lm-opt-4 article {  margin-left: 10%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; }
.lm-opt-4 article p { width: 300px; margin: 50px 0; }
.lm-opt-4 video { position: fixed; left: 50%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}

/* The End */
.theend .byebye { background: url(images/theend.png) 40% 100px no-repeat fixed; height: 1000px; padding: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }

article.no-results.not-found {
	width: 50%;
	margin: auto;
	margin-top: 5%;
	height: 200px;
	border-radius: 20px;
	padding: 2%;
	box-shadow: 2px 2px 8px 0px;
	background-color: orange;
	background-color: #f68a28;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f68a28, endColorstr=#f36c00);
	background-image: -moz-linear-gradient(center top, #f68a28, #f36c00);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#f68a28),to(#f36c00));
}

.admin-class {
	/*display:none !important;*/
}
							